cloud_id = "qwerty123456"
folder_id = "qwerty12345678"
zone = "ru-central1-a"
image_id = "qwerty123456"
public_key_path = "/home/mity/.ssh/id_rsa.pub"
subnet_id = "e9bie4jigc6n1efoheqo"
service_account_key_file = "/home/mity/Documents/OtusDevops/terraform.json"
private_key_path = "/home/mity/.ssh/id_rsa"
